.main-content.widthalign
  .page-content
    .page-content-area
      .page-header.rcorners1
        %h1
          LIMIT HISTORY
      .row
        .col-xs-12
          = form_tag '/distributors/search_limit_history', method: 'get',:html => {:class => "form-horizontal", :role => "form", id: 'searchDistributorForm'} do |f|
            .col-sm-6
              .col-sm-1
                %lable
                  Status
              .col-sm-2
                = select_tag :status, options_for_select(ChangeLimit::STATUS.collect{ |k, v| [v, k] }), :selected => params[:status], include_blank: true                                      
              .col-sm-4
                = submit_tag "GO", value: 'search', :class =>"btn btn-info"          

          .row
            .col-xs-12
              %div
                - if @limit_history.present?
                  = paginate @limit_history, :window => 5              
                  %table#sample-table-2.table.table-striped.table-bordered.table-hover
                    %thead
                      %tr
                        %th Creation Date
                        %th Note
                        %th STATUS
                        %th Last Limit
                        %th Add Limit
                        %th Less Limit
                        %th New Limit
                    %tbody
                      - @limit_history.each do |history| 
                        %tr
                          %td
                            = format_date(history.created_at) rescue nil
                          %td
                            = history.note rescue nil
                          %td
                            = history.status rescue nil  
                          %td 
                            = history.previous_limit rescue nil
                          %td 
                            = add_limit(history.action, history.amount) rescue nil
                          %td 
                            = less_limit(history.action, history.amount) rescue nil
                          %td 
                            = history.current_limit rescue nil
                  = paginate @limit_history, :window => 5
                -else   
                  NO DATA FOUND                                  