.main-content.widthalign
  .page-content
    .page-content-area
      .page-header
        %h1 REQUEST LIMITS
        .row
          .col-xs-12
            .row
              = form_tag '/merchants/request_limits/search', method: 'get',:html => {:class => "form-horizontal", :role => "form", id: 'searchAdminTransactionForm'} do |f|
                .col-sm-6
                  .row
                    .col-sm-1
                      %lable
                        Status
                    .col-sm-2
                      = select_tag :status, options_for_select(RequestLimit::STATUS.collect{ |k, v| [v, k] }), :selected => params[:status], include_blank: true                    
                    .col-sm-2
                      = submit_tag "GO", value: 'search', :class =>"btn btn-info"            
              .col-xs-12
                %div
                - if @request_limits.present?
                  = paginate @request_limits, :window => 5 unless @request_limits.empty?
                  %table.table.table-bordered.table-striped.table-hover.content
                    %thead
                      %tr
                        %th RequestDate
                        %th TrackingID
                        %th BankName
                        %th RequestLimit
                        %th RequestStatus
                        %th RequestType
                        %th StatusDate
                    %tbody
                      - @request_limits.each do |request_limit|
                        %tr
                          %td
                            = format_date(request_limit.created_at) rescue nil rescue nil
                          %td
                            = request_limit.tracking_id rescue nil
                          %td
                            = request_limit.try(:bank) rescue nil
                          %td
                            = request_limit.try(:amount) rescue nil
                          %td
                            = request_limit.try(:status) rescue nil
                          %td
                            = quick_check(request_limit) rescue nil
                          %td
                            = status_date(request_limit.created_at, request_limit.updated_at) rescue nil
                  = paginate @request_limits, :window => 5 unless @request_limits.empty?
                - else
                  %h4 YOU HAVE NO PENDING REQUEST LIMITS
