.main-content.widthalign
  .page-content
    .page-content-area
      .page-header.rcorners1
        %h1
          Merchant LIMIT HISTORY
      .row
        .col-xs-12
          .row
            = form_tag '/distributors/merchants/search_limit_history', method: 'get',:html => {:class => "form-horizontal", :role => "form", id: 'searchDistributorForm'} do |f|
              .col-sm-6
                .col-sm-1
                  %lable
                    Search  
                .col-sm-2  
                  = text_field_tag :search, params[:search], class: 'form-control', :id => "distributor_id"
                .col-sm-1
                  %lable
                    RequestType
                .col-sm-2
                  = select_tag :request, options_for_select(ChangeLimit::TYPE.collect{ |k, v| [v, k] }), :selected => params[:request], include_blank: true                    
                .col-sm-1
                  %lable
                    Status
                .col-sm-2
                  = select_tag :status, options_for_select(ChangeLimit::STATUS.collect{ |k, v| [v, k] }), :selected => params[:status], include_blank: true                                                                       
                .col-sm-2
                  = submit_tag "GO", value: 'search', :class =>"btn btn-info"                    
            .col-xs-12
              %div
                - if @limit_history.present?
                  = paginate @limit_history, :window => 5              
                  %table#sample-table-2.table.table-striped.table-bordered.table-hover
                    %thead
                      %tr
                        %th Creation Date
                        %th Merchant ID
                        %th Merchant Name
                        %th STATUS
                        %th Note
                        %th Last Limit
                        %th Add Limit
                        %th Less Limit
                        %th New Limit
                        %th Quick
                        %th Remark
                    %tbody
                      - @limit_history.each do |history| 
                        - merchant = Merchant.find(history.changable_id) 
                        %tr
                          %td
                            = format_date(history.created_at)
                          %td
                            = merchant.user.mobile
                          %td 
                            = fullname(merchant.try(:profile).try(:first_name), merchant.try(:profile).try(:last_name))
                          %td
                            = history.status
                          %td
                            = history.note
                          %td 
                            = history.previous_limit rescue nil
                          %td 
                            = add_limit(history.action, history.amount) rescue nil
                          %td 
                            = less_limit(history.action, history.amount) rescue nil
                          %td 
                            = history.current_limit rescue nil
                          %td 
                            = quick_check(history)
                          %td
                            = history.note 
                  = paginate @limit_history, :window => 5
                -else   
                  NO DATA FOUND                                  