.main-content.widthalign
  .page-content
    .page-content-area
      .page-header
        %h1 New Merchant
      .row
        .col-xs-12
          .form-group
            %label.col-sm-3.control-label.no-padding-right{:for => "form-field-1"} merchant Name :
            .col-sm-5
              .input-group
                %span.input-group-addon
                  = fullname(@merchant.profile.first_name, @merchant.profile.last_name)
      .row
        .col-xs-12
          .form-group
            %label.col-sm-3.control-label.no-padding-right{:for => "form-field-1"} merchant Mobile No :
            .col-sm-5
              .input-group
                %span.input-group-addon
                  = @merchant.user.mobile
      .row
        .col-xs-12
          .form-group
            %label.col-sm-3.control-label.no-padding-right{:for => "form-field-1"} merchant Password :
            .col-sm-5
              .input-group
                %span.input-group-addon
                  = "#{@merchant.user.mobile.first(4)}@#{@merchant.user.created_at.strftime("%d%m")}"                
